{% extends '__layout.html' %}

{% block body %}
<div class="span-24">
    <div class="span-12 status-box">
        <div class="span-12 status-navigator">
            <span>hot notes</span>
            <a>latest notes</a>
            <a>all notes</a>
        </div>
        <hr/>
        <div class="span-12">
            <ul>
                {% for note in hot_notes %}
                <li><a href="{% url user note.owner.username %}">{{ note.owner.username }}</a> | <a href="{{ note.get_absolute_url }}">{{ note }}</a></li>
                {% empty %}
                <li>No notes yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="span-12 last status-box">
        <div class="span-12 status-navigator">
            <span>hot projects</span>
            <a>latest projects</a>
            <a>all projects</a>
        </div>
        <hr/>
        <div class="span-12">
            <ul>
                {% for project in hot_projects %}
                <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a> | {{ project.get_description_str }}</li>
                {% empty %}
                <li>No projects yet.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="span-24">
    <div class="span-12">
        <input type="text" size="40" value="search notes..."/>
    </div>
    <div class="span-12 last">
        <input type="text" size="40" value="search projects..."/>
    </div>
</div>
{% endblock %}
